<a href="https://colab.research.google.com/github/Ishan130803/AIMS-Task-1/blob/main/OneHotEncoder.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import numpy as np
import pandas as pd
from typing import Union

# One Hot Encoding
1. Take the dataframe and the columns to be one hot encoded as the input
2. For each column series (with categorical values) in data frame do the following things:
    - create a dictionary of unique categories with each unique category mapping to an empty list
    - Now, iterate through series and iterate through dict_keys where dict_keys = series item change to 1 and rest to 0

3. Convert this series to numpy array
4. return this 2D numpy array

In [54]:
class OneHotEncoder:
    def columnTransformer(self,column : pd.Series):
        if column.dtype!='O':
            return np.expand_dims(column.to_numpy(),axis = 0)

        ordinal_mapping = {}
        for value in column:
            if value not in ordinal_mapping:
                ordinal_mapping[value] = []

        category_list = ordinal_mapping.keys()
        for value in column:
            for key in category_list:
                if value == key:
                    ordinal_mapping[key].append(1)
                else:
                    ordinal_mapping[key].append(0)


        return np.array([ordinal_mapping[col] for col in category_list])

    def fit_transform(self, df, columns):
        return np.concatenate([self.columnTransformer(df[col]) for col in columns],axis = 0)

        # for col in columns:
        #     if (df[col].dtype in ['O']):
        #         self.columnTransformer(df[col])
        #     else:
        #         np.array([df[col].to_numpy()])
        # return np.array(encoded_table)

In [56]:
encobj = OneHotEncoder()
a = {
    'name' : ['a','b','c','d','a','b'],
    'age'  : [1,23,4,5,6,7]
}

df = pd.DataFrame(a)

b = encobj.fit_transform(df,['name','age'])
b

array([[ 1,  0,  0,  0,  1,  0],
       [ 0,  1,  0,  0,  0,  1],
       [ 0,  0,  1,  0,  0,  0],
       [ 0,  0,  0,  1,  0,  0],
       [ 1, 23,  4,  5,  6,  7]])